body{
    background-color: firebrick;
    margin: 0;
}

footer{
    text-align: center;
}

#main{
    display: flex;
    padding: 16px;
}

#input{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#etch-a-sketch{
    flex-shrink: 0;

    width: 768px;
    height: 768px;
    background-color: grey;

    display: flex;
    flex-wrap: wrap;
}

#etch-a-sketch{
    user-select: none;
}